
/*CSS de Datos Laborales*/
.TituloPag
{
  text-align: center;
  border-top: solid darkgray;
  border-bottom: solid darkgray;
}
.TituloTabla
{
  text-align: left;
  border-bottom: solid darkgray;
}
#EncabezadoTabla
{
  background-color: #2f4159;
  color: white;
}
#TablaLinea
{
  border-bottom: solid 2px gray;
}
.table tbody tr.highlight td
{
    background-color: #B0B0B0;
}
.tam
{
  margin: 0px 0px 300px 0px;
}
.EncabezadoTabla
{
	background-color:#2F4159;
	color: white;
}
.botones
{
	margin: 0px 0px 5px 5px;
  padding: 8px 0px 8px 0px;
  font-size: 15px;
}
.error
{
  color: red;
  font-size: 16px;
}
label, input[type="submit"]
{
    margin-top: 10px;
}
#formu
{
    margin: 0px 0px 0px 0px;
    color: black;
    font-family: 'Asap', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.Botones
{
  float: right;
}

.izq
{
  float: right;
  margin: 5px 10px 0px 0px;
  padding:  8px 2px 8px 2px;
}

.ErrorHid
{
  color: red;
  font-size: 16px;
  display: none;
}
.arriba
{
  margin: -30px 0px 0px 0px;
}

#message
{
  font-size: 16px;
  font-weight: 100;
}
#messagenv
{
  font-size: 16px;
  font-weight: 100;
  color: red;
}
#messagenvm
{
  font-size: 16px;
  font-weight: 100;
  color: red;
}
